/* DEMO PURPOSES ONLY */

pre {
    width: 90%;
    white-space: pre-wrap;
    border: 1px solid #CCC;
    background: #F7F7F7;
    padding: 20px;
    max-height: 300px;
    overflow: auto;
}
/* IMMUTABLE */
.hide { display: none !important;}
* {
    box-sizing: border-box;
}

.photo__circle img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile {
    position: relative;
    font-family: 'HelveticaNeueLTPro-Roman', sans-serif;
    font-size: 85%;
    width: 300px;
}

.slider {
    position: relative;
    width: 90%;
    left: 5%;
    height: 30px;
    z-index: 1;
    padding: 0 30px;
}

.slider.slider--minValue::before,
.slider.slider--maxValue::after {
    color: #F8F8F8;
}

.slider::after {
    font-size: 18px;
    right: 0px;
    top: 8px;
}

.slider::before {
    font-size: 14px;
    left: 2px;
    top: 8px;
}

.slider::before,
.slider::after {
    position: absolute;
    content: "\f03e";
    display: block;
    font-family: 'FontAwesome';
    color: #AAAAAA;
}

.slider__area {
    position: relative;
    height: inherit;
}

.slider__line {
    width: 100%;
    height: 1px;
    position: relative;
    top: 15px;
    background: #EEEEEE;
    z-index: 2;
}

.slider__handler {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    position: absolute;
    top: 6px;
    bottom: 6px;
    margin-left: -10px;
    z-index: 3;
}

.slider__handler:hover {
    border-color: #C1C1C1;
}

.slider__handler:focus {
    border-color: #268EFF;
    box-shadow: 0 0 1px 0px #268EFF;
}

.photo {
    text-align: center;
    margin-bottom: 15px;
}

.photo input[type=file] {
    display: none;
}

.photo__options {
    position: relative;
    text-align: center;
}

.photo__options .remove {
    text-decoration: none;
    color: #DDDDDD;
    position: absolute;
    right: 17px;
    top: -35px;
    font-size: 18px;
}

.photo__options .remove:hover {
    color: #000;
}

.photo__circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: move;
}

.photo__circle img {
    position: relative;
}

.photo__circle .message {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    color: #268eff;
    z-index: 3;
}

.photo__circle .is-dragover {
    display: none;
}

.message p {
    font-size: .9em;
}

.photo__options {
    list-style: none;
}

.photo__options li {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.photo--empty .photo__circle {
    cursor: pointer;
}

/**
* IMG states
*/
.profile.is-dragover .photo__circle img,
.photo--empty img,
.photo--error img,
.photo--error--file-type img,
.photo--error--image-size img,
.photo--loading img {
    display: none;
}


/**
* States
*/


/* DEFAULT */

.message.is-empty,
.message.is-loading,
.message.is-wrong-file-type,
.message.is-wrong-image-size,
.message.is-something-wrong,
.message.is-dragover {
    display: none;
}


/* EMPTY */
.photo--empty .photo__options {
    display: none;
}
.photo--empty .message.is-empty {
    display: inline-block;
}


.photo--empty .photo__circle:hover {
    background: #268eff;
}

.photo--empty .photo__circle:hover .message {
    color: #FFF;
}


/* LOADING */

.photo--loading .message.is-loading {
    display: inline-block;
}

.photo--loading .message.is-empty,
.photo--loading .message.is-wrong-file-type,
.photo--loading .message.is-dragover,
.photo--loading .message.is-wrong-image-size,
.photo--loading .photo__options {
    display: none;
}


/* ERROR */
/* UNKNOWN */
.photo--error .message.is-empty,
.photo--error .message.is-loading,
.photo--error .message.is-dragover,
.photo--error .message.is-wrong-image-size,
.photo--error .photo__options {
    display: none;
}

.photo--error .message.is-something-wrong {
    display: inline-block;
}

/* FILE TYPE*/
.photo--error--file-type .message.is-empty,
.photo--error--file-type .message.is-loading,
.photo--error--file-type .message.is-dragover,
.photo--error--file-type .message.is-wrong-image-size,
.photo--error--file-type .photo__options {
    display: none;
}

.photo--error--file-type .message.is-wrong-file-type {
    display: inline-block;
}

/* IMAGE SIZE */
.photo--error--image-size .message.is-empty,
.photo--error--image-size .message.is-loading,
.photo--error--image-size .message.is-dragover,
.photo--error--image-size .message.is-wrong-file-type,
.photo--error--image-size .photo__options {
    display: none;
}

.photo--error--image-size .message.is-wrong-image-size {
    display: inline-block;
}


/* DRAGOVER */

.profile.is-dragover .photo__circle .is-dragover {
    display: inline-block;
}

.profile.is-dragover .message.is-empty,
.profile.is-dragover .message.is-loading,
.profile.is-dragover .message.is-wrong-file-type,
.profile.is-dragover .message.is-wrong-image-size {
    display: none;
}